<main class="content">
  <app-preloader *ngIf="(state$ | async)?.request"></app-preloader>
  <section *ngIf="(state$ | async)?.planets?.length !== 0" class="planet">
    <ul *ngIf="(state$ | async)?.request === false" class="planet__list">
      <li
        *ngFor="let planet of (state$ | async)?.planets; let i = index"
        class="planet__list-item card"
        data-title="Кликните чтобы узнать подробнее"
      >
        <a [routerLink]="['/planet/', planet.id]" class="planet__link">
          <h2 class="planet__title title">{{ planet.name }}</h2>
          <p class="planet__info">Население: {{ planet.population }}</p>
          <p class="planet__info">Диаметр: {{ planet.diameter }} км</p>
          <p class="planet__info">Климат: {{ planet.climate }}</p>
          <p class="planet__info">
            Период вращения: {{ planet.rotation_period }} ч
          </p>
        </a>
      </li>
    </ul>
    <div *ngIf="(state$ | async)?.request === false" class="planet__buttons">
      <button
        *ngIf="
          (state$ | async)?.prevPage && (state$ | async)?.currentPage !== 1
        "
        (click)="handleSetPage(-1)"
        class="planet__button planet__button_type_prev"
      >
        <div></div>
      </button>
      <p class="planet__current-page title">
        {{ (state$ | async)?.currentPage }}
      </p>
      <button
        *ngIf="
          (state$ | async)?.nextPage &&
          (state$ | async)?.totalCountPlanets !== (state$ | async)?.currentPage
        "
        (click)="handleSetPage(1)"
        class="planet__button planet__button_type_next"
      >
        <div></div>
      </button>
    </div>
  </section>
</main>
