.content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;
}

.planet {
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    list-style-type: none;
    gap: 15px;
  }
  &__link {
    text-decoration: none;
    color: inherit;
  }
  &__title {
    margin: 0;
    padding-bottom: 20px;
  }
  &__info {
    margin: 0;
    font-size: 16px;
    line-height: 1.4;
  }
}
