<section class="planet-details">
  <a routerLink="/main" class="link">Назад</a>
  <h2 class="planet-details__title title">
    Планета - {{ (state$ | async)?.planet?.name }}
  </h2>
  <div class="planet-details__info">
    <div class="planet-details__planet">
      <p class="planet-details__planet-title text">Информация о планете</p>
      <app-planet-info [planet]="(state$ | async)?.planet"></app-planet-info>
    </div>
    <div class="planet-details__persons">
      <app-preloader *ngIf="(state$ | async)?.request"></app-preloader>
      <p
        *ngIf="
          (state$ | async)?.persons?.length === 0 &&
          (state$ | async)?.request === false
        "
        class="planet-details__notfound text"
      >
        На планете нет ключевых персонажей
      </p>
      <div
        *ngIf="(state$ | async)?.persons && (state$ | async)?.persons?.length"
        class="planet-details__persons-container"
      >
        <app-input-radio
          (handleChangeGender)="handleChangeGender($event)"
          [gender]="(state$ | async)?.gender || 'all'"
        ></app-input-radio>
        <h2 class="text" style="font-size: 24px">Персонажи</h2>
        <ul class="planet-details__list planet-details__list-person">
          <li
            *ngFor="
              let person of (state$ | async)?.filteredPersons?.slice(
                0,
                (state$ | async)?.countPerson
              );
              let i = index
            "
            class="card"
          >
            <h3 class="title">{{ person.name }}</h3>
            <p class="text">Пол: {{ person.gender }}</p>
            <p class="text">Рост: {{ person.height }}</p>
            <p class="text">Вес: {{ person.mass }}</p>
            <p class="text">Цвет глаз: {{ person.eye_color }}</p>
            <p class="text">Цвет волос: {{ person.hair_color }}</p>
          </li>
        </ul>
        <p
          *ngIf="
            (state$ | async)?.filteredPersons &&
            (state$ | async)?.filteredPersons?.length === 0
          "
        >
          Ничего не найдено
        </p>
        <button
          *ngIf="(state$ | async)?.showMorePersons"
          type="button"
          (click)="handleClickMoreCount()"
          class="planet-details__button"
        >
          Ещё
        </button>
      </div>
    </div>
  </div>
</section>
