<section class="planet-details">
  <a routerLink="/main" class="link">Назад</a>
  <h2 class="planet-details__title title">Планета - {{ planet?.name }}</h2>
  <div class="planet-details__info">
    <div class="planet-details__planet">
      <p class="planet-details__planet-title">Информация о планете</p>
      <ul class="planet-details__list text">
        <li class="planet-details__list-item">
          <span> Население: </span>
          <span>
            {{ planet?.population }}
          </span>
        </li>
        <li class="planet-details__list-item">
          <span> Диаметр: </span>
          <span> {{ planet?.diameter }} км </span>
        </li>
        <li class="planet-details__list-item">
          <span> Климат: </span>
          <span>
            {{ planet?.climate }}
          </span>
        </li>
        <li class="planet-details__list-item">
          <span> Ландшафт: </span>
          <span> {{ planet?.terrain }}</span>
        </li>
        <li class="planet-details__list-item">
          <span> Период вращения по орбите: </span>
          <span> {{ planet?.orbital_period }} д </span>
        </li>
        <li class="planet-details__list-item">
          <span> Период вращения планеты: </span>
          <span> {{ planet?.rotation_period }} ч </span>
        </li>
      </ul>
    </div>
    <div class="planet-details__persons">
      <app-preloader *ngIf="request"></app-preloader>
      <p *ngIf="persons?.length === 0 && request === false">
        На планете нет ключевых персонажей
      </p>
      <div
        *ngIf="persons && persons.length"
        class="planet-details__persons-container"
      >
        <div class="planet-details__inputs">
          <div>
            <input
              type="radio"
              id="all"
              name="gender"
              value="all"
              (change)="handleChangeGender('all')"
              [checked]="gender === 'all'"
            />
            <label for="all">All</label>
          </div>
          <div>
            <input
              type="radio"
              id="male"
              name="gender"
              value="male"
              (change)="handleChangeGender('male')"
              [checked]="gender === 'male'"
            />
            <label for="male">Male</label>
          </div>
          <div>
            <input
              type="radio"
              id="female"
              name="gender"
              value="female"
              (change)="handleChangeGender('female')"
              [checked]="gender === 'female'"
            />
            <label for="female">Female</label>
          </div>
        </div>
        <ul class="planet-details__list planet-details__list-person">
          <li *ngFor="let person of filteredPerson; let i = index" class="card">
            <h3 class="title">{{ person.name }}</h3>
            <p class="text">Пол: {{ person.gender }}</p>
            <p class="text">Рост: {{ person.height }}</p>
            <p class="text">Вес: {{ person.mass }}</p>
            <p class="text">Цвет глаз: {{ person.eye_color }}</p>
            <p class="text">Вес цвет волос: {{ person.hair_color }}</p>
          </li>
        </ul>
        <p *ngIf="filteredPerson && filteredPerson.length === 0">
          Ничего не найдено
        </p>
      </div>
    </div>
  </div>
</section>
